:root {
    /* CSS HEX */
    --davys-gray: #595758ff;
    --lavender-blush: #ffeef2ff;
    --pale-purple: #ffe4f3ff;
    --pink-lavender: #ffc8fbff;
    --amaranth-pink: #ff92c2ff;

    /* CSS HEX */
    --thistle: #cdb4dbff;
    --fairy-tale: #ffc8ddff;
    --carnation-pink: #ffafccff;
    --uranian-blue: #bde0feff;
    --light-sky-blue: #a2d2ffff;

    /*Customed color*/
    --heartful: #fae1dd;
}